<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ivana.trainapptfg">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"  />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-feature
            android:name="android.hardware.sensor.accelerometer"
            android:required="true" />
        <uses-feature
            android:name="android.hardware.sensor.gyroscope"
            android:required="true" />

        <service android:name=".Services.RecogidaDeDatosService" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.AsistenteRecogidaDatos.RecogerDatosBienvenida"
            android:label="@string/app_name" />
        <activity
            android:name=".Activities.AsistenteRecogidaDatos.RecogerDatosFormulario"
            android:label="@string/app_name" />
        <activity
            android:name=".Activities.AsistenteRecogidaDatos.RecogerDatosRecogida"
            android:label="@string/app_name" />
        <activity
            android:name=".Historial.HistorialDiaConcreto"
            android:label="@string/app_name" />
        <activity
            android:name=".NoSensores"
            android:label="@string/app_name" />
        <activity
            android:name=".Activities.Bluetooth.ListarYConectarBluetooth"
            android:label="@string/title_activity_listar_yconectar_bluetooth"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activities.ListarActividades"></activity>

        <service android:name=".Services.BluetoothLeService"></service>
    </application>

</manifest>